/* 清除默認邊界和填充 */
html, body {
    margin: 0;
    padding: 0;

    height: 100%;  
    width: 100%;

    min-width: 800px;

    background-color: rgb(250, 250, 250);

}



/* main_banner main_banner main_banner main_banner main_banner main_banner main_banner main_banner main_banner */
.main_banner{
    background-color: lightgray;
    display: flex;
    justify-content: center; /* 水平對齊 */
    align-items: center; /* 垂直對齊 */

    top: 0px;
    width: 100%; /* 佔據整個視窗的寬度 */
    position: fixed; /* 懸浮於視窗上方 */ 
    z-index: 1000; /* 確保在所有元素之上 */

    cursor: pointer;
}


.main_banner_title{
    color: coral;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
    font-size: larger;
    width: 20%;

    flex: none;
    text-align: left;
    margin: 20px;

    white-space: nowrap; /* 禁止文字換行 */
    overflow: hidden;       /* 超出部分隐藏 */
}

.inputbar_button_wrapper{
    display: flex;
    flex: none;

    width: 50%;

}

.eshop_search_bar{
    flex: auto;

    background-color: #f8f9fa;

    width: 70%;
    border: #f8f9fa;


}

.eshop_search_button{
    flex: auto;
    color: coral;
    margin-left: 5px;
    border: none;
}


.login_register_wrapper{
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.login_word{
    flex: none;

    font-family: Verdana, sans-serif;
}

.login_register_divider{
    flex: none;
    margin-left: 5px;
    margin-right: 5px;
}

.register_word{
    flex: none;

    font-family: Verdana, sans-serif;
}

.user_info{
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 50%;
    height: 50%;
}


.cart_button {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin-top: 3px;
    margin-right: 15px;
}

.cart_button i {
    transition: color 0.3s ease;
}

.cart_button:hover i {
    color: coral;
}


.user_name{
    font-family: Verdana, sans-serif;
    margin-right: 15px;
}

.user_picture{
    width: auto;
    height: 50px;
    border-radius: 5px;
}

/* main_banner main_banner main_banner main_banner main_banner main_banner main_banner main_banner main_banner */


/* product_section */
.product_section{
    margin-top: 100px;
}


/* product_select product_select product_select product_select product_select product_select product_select */

.search_product_by_category_section{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    grid: 10px;

    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.search_product_by_category_section i{
    margin-right: 5px;
    font-size: 20px;

}

.search_product_by_category_section button{
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;

}
.search_product_by_category_section button:hover, 
.search_product_by_category_section button:hover{
    color: coral;
}

/* .search_product_by_category_title{
    font-family: Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
}
.search_product_by_category_selection{
    font-family: Verdana, sans-serif;
    font-size: larger;
} */

/* product_select product_select product_select product_select product_select product_select product_select */


/* 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 */

.product_container{
    /* 4*2 grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 20px;  

    width: 100%; 
    max-width: 100%; 

    padding: 20px; 
    box-sizing: border-box; 
    align-items: center; 
}

/* product card setting */
.product_card{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    transition: transform 0.3s ease, box-shadow 0.5s ease; /* 鼠標離開時 恢復延時 */
}
.product_card:hover{
    transform: scale(1.05); /* 稍微放大 */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* 增加陰影 */
    transition: transform 0.3s ease, box-shadow 0.5s ease; 
    cursor: pointer;
}

.product_image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product_image_slider {
    position: relative;
    width: 100%;
    max-width: 500px;  /* 控制圖片大小 */
    margin: auto;
    border-radius: 4px;
}

.product_image {
    width: 100%;
    display: block;  /* 預設所有圖片都顯示 */
    transition: opacity 0.5s ease;  /* 添加過渡效果 */
    border-radius: 4px 4px 0px 0px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* product_info 設定 */
.product_info{
    padding: 10px;
}

.product_name{
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product_button_container{
    margin-top: 5px;
    margin-bottom: 5px;
}
.edit_product_button{
    background-color: #4CAF50;
    color: white;
    /* padding: 0.7rem 1.2rem; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
}
.delete_product_button{
    background-color: red;
    color: white;
    /* padding: 0.7rem 1.2rem; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
}

.product_category{
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product_price{
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product_in_stock{
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product_seller{
    font-family: Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 商品展示 */


/* 商品頁面 */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    font-family: Verdana, sans-serif;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent
}

.pagination button:hover{
    color : rgb(197, 0, 0);
}